.App-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-grow: 3;
}
